body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.container {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #ccc;
  height: 100vh;
}

.slider-wrapper fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.slider-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 60px;
  background: linear-gradient(#eee, #e0e0e0);
  border-radius: 4px;
  color: #666;
  box-shadow: 0px 3px 0px #aaa;
}

.slider {
  width: 720px;
  height: 2px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.slider:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 2px;
  background-color: #ccc;
}

.slider span {
  display: block;
  height: inherit;
  position: relative;
  background-color: #99afef;
  cursor: inherit;
  width: 80px;
  transition: left 300ms ease-in-out;
  z-index: 4;
}
.slider span:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 36px;
  border-top: 4px solid #99afef;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.slider-input {
  position: relative;
  height: 30px;
}
.slider-input input[type=radio] {
  display: none;
}
.slider-input fieldset {
  cursor: pointer;
  position: absolute;
}

#linux-form fieldset {
  color: #888;
  text-transform: uppercase;
  font-size: 7pt;
  letter-spacing: 1px;
  border-radius: 3px;
  margin-top: 10px;
  width: 80px;
  position: absolute;
  border-radius: 4px;
}
#linux-form fieldset:hover {
  background-color: #99afef;
  color: #eee;
}
#linux-form fieldset:hover label.active {
  background-color: #eee;
}
#linux-form fieldset label {
  display: block;
  padding: 4px 7px;
  box-sizing: content-box;
  border-radius: 4px;
}
#linux-form fieldset label.active {
  color: #99afef;
}
#linux-form fieldset:nth-child(2) {
  left: 0%;
}
#linux-form fieldset:nth-child(3) {
  left: calc(calc(100% - 100px) / 5 * 1);
}
#linux-form fieldset:nth-child(4) {
  left: calc(calc(100% - 100px) / 5 * 2);
}
#linux-form fieldset:nth-child(5) {
  left: calc(calc(100% - 100px) / 5 * 3);
}
#linux-form fieldset:nth-child(6) {
  left: calc(calc(100% - 100px) / 5 * 4);
}
#linux-form fieldset:nth-child(7) {
  left: calc(calc(100% - 100px) / 5 * 5);
}

.slider-output {
  margin-top: 20px;
}
.slider-output figure {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 4px;
  width: 120px;
  background-color: #99afef;
  color: #f5f5f5;
  height: 70px;
  line-height: 70px;
  box-sizing: border-box;
  text-align: center;
}
.slider-output figure figcaption {
  background-color: #888;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 8pt;
  letter-spacing: 1px;
}
.slider-output figure.price {
  width: 182px;
  font-weight: bold;
  background-color: #888;
  height: 110px;
  line-height: 70px;
}
.slider-output figure.price span {
  font-size: 8pt;
}
.slider-output figure.price figcaption button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #e4b849;
  color: inherit;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 8pt;
  letter-spacing: 1px;
  box-shadow: inset 0px -3px 0px #c4941d;
}
.slider-output figure.price figcaption button:hover {
  background-color: goldenrod;
}

@media (max-width: 768px) {
  .slider-wrapper {
    max-width: 90vw;
    margin: 10px auto;
    position: relative;
    padding: 10px 10px 30px;
    transform: none;
    top: 0;
    left: 0;
  }

  .slider {
    width: 100%;
  }
  .slider:before {
    display: none;
  }

  .slider span {
    display: none;
  }

  #linux-form {
    position: relative;
  }
  #linux-form fieldset {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 3px 5px;
    width: calc(33% - 5px);
    height: 30px;
    line-height: 24px;
    background-color: #ccc;
    color: white;
  }
  #linux-form fieldset label.active {
    height: 18px;
    line-height: 20px;
    background-color: #ddd;
    color: #888;
    border-bottom: 2px solid #99afef;
    border-top: 2px solid #99afef;
  }
  #linux-form fieldset:hover {
    background-color: #ddd;
    color: #aaa;
  }
  #linux-form fieldset:nth-child(2) {
    left: 0;
  }
  #linux-form fieldset:nth-child(3) {
    left: 0;
  }
  #linux-form fieldset:nth-child(4) {
    left: 0;
  }
  #linux-form fieldset:nth-child(5) {
    left: 0;
  }
  #linux-form fieldset:nth-child(6) {
    left: 0;
  }
  #linux-form fieldset:nth-child(7) {
    left: 0;
  }

  .slider-output {
    margin-top: 60px;
    padding: 0;
  }
  .slider-output figure {
    margin: 0px 0px 4px;
    margin-right: 0px;
    width: calc(50% - 3px);
    height: 64px;
    line-height: 40px;
  }
  .slider-output figure figcaption {
    height: 24px;
    line-height: 24px;
  }
  .slider-output figure.price {
    width: 50%;
    height: 70px;
    line-height: 40px;
  }
  .slider-output figure.price figcaption {
    height: 30px;
  }
  .slider-output figure.price figcaption button {
    line-height: 30px;
  }
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
