<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Service Selection Widget (Angular)</title>
    
    
    <link rel="stylesheet" href="css/normalize.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
    
  </head>

  <body>

    <div class="container" ng-app="app" ng-controller="serverCtrl as svr" ng-cloak>
	<div class="slider-wrapper">
		<h1>Select a Hosting Plan</h1>
		<div class="slider-input">
			<span class="slider-highlight"></span>
			<form id="linux-form" class="slider">
				<span></span>
				<fieldset ng-repeat="plan in svr.linuxOptions">
					<input type="radio" name="linuxoption" value="{{$index + 1}}" id="{{'l' + $index}}" ng-model="svr.selection" ng-click="svr.adjustSlider()"/>
					<label for="{{'l' + $index}}" ng-class="{active: svr.selection == $index + 1}">{{plan.name}}</label>
				</fieldset>
			</form>
		</div>
		<div class="slider-output">
			<figure>
				{{svr.selectedPlan.cpu}} 
				<figcaption>CPU</figcaption>
			</figure>
			<figure>
				{{svr.selectedPlan.ram}}
				<figcaption>RAM</figcaption>
			</figure>
			<figure>
				{{svr.selectedPlan.disk}}
				<figcaption>Web Space</figcaption>
			</figure>
			<figure>
				{{svr.selectedPlan.bandwidth}}
				<figcaption>Bandwidth</figcaption>
			</figure>
			<figure class="price">
				${{svr.selectedPlan.price}}.00<span>/month</span>
				<figcaption><button>Order Now</button></figcaption>
			</figure>
		</div>
	</div>
</div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>

        <script src="js/index.js"></script>

    
    
  </body>
</html>
